[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 320
homing_speed: 50
homing_retract_dist: 0

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 350

[safe_z_home]
home_xy_position: 100, 100 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 10

[bltouch]
sensor_pin: ^P1.24 # white wire
control_pin: P1.26 # yellow wire
x_offset: 38
y_offset: 37
z_offset: 0

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.4
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P2.5
sensor_type: PT1000
sensor_pin: P0.23
control: watermark
min_temp: 15
max_temp: 130

[fan]
pin: P2.3
kick_start_time: 1.000

[mcu]
serial: /dev/serial/by-id/usb-marlinfw.org_Marlin_USB_Device_14FFE01FAF3D1C015C87DDBAF50020C6-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 25
max_z_accel: 100

[tmc2209 stepper_x]
uart_pin: P1.17 # check
run_current: 0.850
sense_resistor: 0.110
stealthchop_threshold: 500 # check
driver_sgt: 80
diag_pin:

[tmc2209 stepper_y]
uart_pin: P1.15
run_current: 0.900
sense_resistor: 0.110
stealthchop_threshold: 500
driver_sgt: 80
diag_pin:

[tmc2209 stepper_z]
uart_pin: P1.10
run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 500
driver_sgt: 80

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.650
sense_resistor: 0.110

#[tmc2209 extruder1]
#uart_pin: P1.1
#run_current: 0.800

# OR
#[tmc2209 stepper_z]
#uart_pin: PD0
## JK motors, who manufacture the XYZ steppers for the Ender3, 840mA peak rating is actually 595mA RMS
## reduced to 90% = ~535mA
#run_current: 0.535
#stealthchop_threshold: 999999
#diag_pin:
